
body{
	margin: 0px;
	background-color: #dee8f7;
	padding-top: 100px;
}

.jumbotron{
	background-color: white;
}

.col-sm-6{
	text-align: center;
}

#blah{
	background-color: black;
	margin-bottom: 0px;
}