
body{
	margin: 0px;
	background-color: white;
	padding-top: 75px;
}

#blah{
	background-color: #222;
	margin-bottom: 0px;
}

.break{
	width: 90%;
	height: 1px;
	background-color: black;
	margin: auto;
}

.col-lg-6 .title{
	margin-bottom: 15px;
	font-size: 40px;
}

.container .jumbotron{
	border-radius: 2px;
	margin-bottom: 5px;
}

#div-title{
	background-color: white;
	width: 500px;
	margin: auto;
	text-align: center;
}

#div-title div{
	margin: auto;
}

.jumbotron{
	background-color: white;
}

#jumbotron-title{
	background-color: white;
}

#jumbotron-title p{
	margin: 0 0 0 0;
}

.navbar-header{
	font-size: 30px;
	color: white;
	padding-top: 5px;	
}

#title{
	margin-bottom: 15px;
	font-size: 45px;
}
